@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); /* Importar fuente */

/* Estilos generales */
html, body {
    height: 100%; /* Asegúrate de que el html y el body ocupen toda la altura */
    margin: 0; /* Elimina márgenes por defecto */
}

body {
    display: flex; /* Usar flexbox para el diseño */
    flex-direction: column; /* Organizar en columna */
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Espacio flexible que ocupa todo el espacio disponible */
.content {
    flex: 1; /* Esto empuja el footer hacia abajo */
}

header {
    background-color: #f17d2f;
    color: white;
    padding: 30px;
    text-align: center;
    position: relative;
}

header .logobonito {
    height: 100px;
    width: auto; /* Permite que el ancho de la imagen se ajuste automáticamente */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

h1 {
    margin: 0;
    font-weight: 600;
}

/* Estilos para la tabla */
table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    box-shadow: 0 4px 8px #6b4e3a80; 
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a3a3a3;
}

th {
    background-color: #f17d2f;
    color: white;
}

/* Botón "Ver Cotización" */
.btn-ver-cotizacion {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a3a3a3;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ver-cotizacion:hover {
    background-color: #d76b29;
}

/* Estilos para el formulario de búsqueda */
.busqueda {
    text-align: center;
    margin: 20px;
}

input[type="text"], button {
    display: inline-block;
    vertical-align: middle;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    width: 50%; 
    font-size: 16px;
}

button {
    padding: 10px 15px;
    margin-left: 10px; /* Espacio entre el input y el botón */
}

/* Footer */
footer {
    background-color: #f17d2f;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.support-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.support-link:hover {
    text-decoration: underline;
}
