<!--
Archivo: /D:/Users/USER/Documents/GitHub/CotizacionSoftware/templates/lista_cotizaciones.html

Descripción:
Este archivo contiene la plantilla HTML para mostrar el historial de cotizaciones. Muestra una tabla con las cotizaciones registradas, incluyendo la fecha, el proyecto, el cliente y un enlace para ver la cotización completa.

Elementos principales:
- `<header>`: Encabezado que muestra el logo de IPB SAS y el título "Historial de Cotizaciones".
- `<table>`: Tabla que muestra las cotizaciones registradas.
- `<tbody>`: Cuerpo de la tabla que contiene las filas de las cotizaciones.
- `<tr>`: Fila de la tabla que muestra los detalles de una cotización.
- `<td>`: Celda de la tabla que muestra un dato específico de una cotización.
- `<a>`: Enlace para ver la cotización completa.

Uso:
Este archivo se utiliza para generar la página web que muestra el historial de cotizaciones. Se utiliza en conjunto con estilos CSS y datos dinámicos proporcionados por el servidor.

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de cotizaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleListaCotizaciones.css') }}">
</head>
<body>
    <header>
        <img src="static/logobonito.png" alt="Logo de IPB SAS" class="logobonito">
        <h1>Proyectos</h1>
    </header>
    <table id="myTable" border="1" class="cotizaciones">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Proyecto</th>
                <th>Cliente</th>
                <th>Empresa</th>
                <th>Archivos</th>
            </tr>
        </thead>
        <tbody>
            {% for cotizacion in cotizaciones%}
            <tr>
                <td>{{ cotizacion.fecha }}</td>
                <td>{{ cotizacion.proyecto }}</td>
                <td>{{ cotizacion.cliente.nombre }}</td>
                <td>{{ cotizacion.empresa }}</td>
                <td><a href="/versiones_cotizacion/{{cotizacion.id}}"class="btn-ver-cotizacion">Documentos</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <a href="/" class="support-link">Volver al Inicio</a>
    </footer>
</body>
</html>
