<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Seleccionar proyecto y subir archivo</h1>
    </header>

    <main class="upload-container">
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="upload-form">
            <!-- Menú desplegable para seleccionar el proyecto -->
            <div class="form-group">
                <label for="proyecto">Selecciona el proyecto:</label>
                <select name="proyecto" required>
                    <option value="" disabled selected>Selecciona un proyecto</option>
                    {% for proyecto in proyectos %}
                        <option value="{{ proyecto }}">{{ proyecto }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Campo para seleccionar el archivo -->
            <div class="form-group">
                <label for="file">Seleccionar archivo:</label>
                <input type="file" name="file" required>
            </div>

            <button type="submit" class="btn">Subir archivo</button>
        </form>

        <a href="{{ url_for('lista_proyectos') }}" class="back-link">Volver a la lista de proyectos</a>
    </main>

    <footer>
    </footer>
</body>
</html>

 