<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propuesta Económica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .header {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .header img {
            width: 100%;
            height: auto;
            display: block;
        }
        .content {
            margin-bottom: 40px;
        }
        .signature {
            text-align: left;
            margin-top: 60px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }

        /* Estilos para los botones */
        button {
            background-color: #4CAF50; /* Verde */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049; /* Color al pasar el mouse */
        }


        footer {
            background-color: #f17d2f; 
            color: white;
            padding: 10px;
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

    </style>
</head>
<body>

<!-- Encabezado con imagen -->
<div class="header">
    <img src="static/encabezado.png" alt="Encabezado" />
</div>

<!-- Contenido principal -->
<div class="content">
    <p><strong>{{ cotizacion.ciudad }} {{ cotizacion.fecha }}</strong></p>
    <p style="text-align: right;"><strong>COT N&deg;{{ cotizacion.consecutivo }}</strong></p>
    <p>Se&ntilde;ores</p>
    <p><strong>{{ cotizacion.empresa }}</strong></p>
    <p><strong>{{ cotizacion.cliente.nombre }}</strong></p>
    <p><strong>{{ cotizacion.cliente.celular }}</strong></p>
    <p><strong>{{ cotizacion.cliente.email }}</strong></p>
    <p>E. S. M.</p>
    <p>Ref: <strong>{{ cotizacion.proyecto }}</strong></p>
    <p>Asunto: <strong>Propuesta Econ&oacute;mica</strong></p>
    <p><strong>{{ cotizacion.cliente.nombre }}</strong> Cordial saludo.</p>
    <p>Adjuntamos propuesta econ&oacute;mica del servicio ofrecido por nuestra empresa:</p>
    <p style="text-align: center;"><strong>COMPONENTES NUEVOS</strong></p>
    
    <!-- Tabla para mostrar los componentes -->
    <table>
        {% if cotizacion.servicio != "v" %}
            <tbody>
                <tr>
                    <td colspan="6">{{ cotizacion.servicio }}</td>
                </tr>
            </tbody>
        {% else %}
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Valor Unitario</th>
                    <th>IVA</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in cotizacion.productos_detalle %}
                    <tr>
                        <td>{{ detalle.producto.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.tamano }}</td>
                        <td>{{ (detalle.producto.precio * detalle.tamano) | round(2) }}</td>
                        <td>{{ (detalle.producto.precio * detalle.cantidad * detalle.tamano * 0.19) | round(2) }}</td>
                        <td>{{ (detalle.producto.precio * detalle.cantidad * detalle.tamano * 1.19) | round(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>

    <p style="text-align: left;"><span style="text-decoration: underline;"><strong>Notas Adjuntas.</strong></span></p>
    <p>EL PERSONAL DE PRODUCTOS IPB TIENE CERTIFICACI&Oacute;N PARA TRABAJO EN ALTURAS Y RECINTOS CERRADOS.</p>
    <p>El valor real ser&aacute; el de multiplicar el precio unitario por el total de metros terminados reales.</p>
    <p>Si se requiere SISO lo debe suministrar la obra.</p>
    <p>La obra (parte Contratante) suministrar&aacute; energ&iacute;a el&eacute;ctrica y agua para la ejecuci&oacute;n de la obra.</p>
    <p>El valor unitario de la actividad en menci&oacute;n es a Todo Costo: Mano de Obra, Suministro de Materiales, Transportes y Acarreos necesarios para entregar a satisfacci&oacute;n la Obra Cotizada.</p>
    <p>Si se requiere hacer cualquier reparaci&oacute;n o garant&iacute;a en el transcurso del trabajo o despu&eacute;s de la entrega del mismo, la Compa&ntilde;&iacute;a Productos IPB SAS solo se responsabiliza por mano de obra y materiales de la actividad ejecutada por nuestra empresa, mas no por acabados y/o estructuras ajenas a la misma.</p>
    <p>PLAZO DE LA OFERTA:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>{{ cotizacion.plazo }}</strong></p>
    <p>TIEMPO DE ENTREGA:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>{{ cotizacion.entrega }} días hábiles</strong></p>
    <p>FORMA DE PAGO:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Anticipo del <strong>{{ cotizacion.anticipo }}%</strong></p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pago del <strong>{{ cotizacion.p_acta }}%</strong> primera acta de avance de Obra,</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pagos <strong>{{ cotizacion.f_acta }}%</strong> con la entrega y acta final.</p>
</div>

<!-- Firma -->
<div class="signature">
    <p>Atentamente,</p>
    <p><span style="text-decoration: underline;"><img src="static/firma.png" alt="Firma" /></span></p>
    <p><strong>J. TIBERIO BUILES</strong></p>
    <p>Representante Legal</p>
</div>

<!-- Pie de página -->
<div class="footer">
    <p><strong>DIAGONAL 44 N&deg; 30C 32 FONTIDUE&Ntilde;O &ndash; BELLO &ndash; ANTIOQUIA &ndash; COLOMBIA</strong></p>
    <p><strong>TELS: (57) (4) 481 09 07 &ndash; 481 08 87 &ndash; 481 08 67</strong></p>
    <p><strong>productosipb@une.net.co - ipbsas@hotmail.com</strong></p>
    <p>www.productosipb.com</p>
</div>


<form action="{{ url_for('modificar_cotizacion', id=cotizacion.id) }}" method="POST">
    <!-- Botón para editar la cotización -->
    <button type="submit">Editar Cotización</button>
    <!-- Botones de exportación -->

</form>

<button onclick="exportToPDF()">Exportar a PDF</button>
<button onclick="exportToExcel()">Exportar a Excel</button>
<button onclick="exportToPNG()">Exportar a PNG</button>


<!-- Enlace para volver a la lista de cotizaciones -->
<footer>
    <a href="{{ url_for('listar_cotizaciones') }}" class="btn">Volver a cotizaciones</a>
</footer>

<script>
    function exportToPDF() {
        const { jsPDF } = window.jspdf;
        html2canvas(document.body).then(function(canvas) {
            const doc = new jsPDF('p', 'mm', 'a4');
            const imgData = canvas.toDataURL('image/png');
            const imgWidth = 210; // Ancho de la página A4 en mm
            const pageHeight = 297; // Altura de la página A4 en mm
            const imgHeight = canvas.height * imgWidth / canvas.width;
            let heightLeft = imgHeight;
            let position = 0;

            doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;

            while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                doc.addPage();
                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;
            }

            doc.save('cotizacion.pdf');
        });
    }

    function exportToExcel() {
    // Crear un nuevo libro de Excel
    var wb = XLSX.utils.book_new();

    // Seleccionar la tabla que contiene los datos
    var table = document.querySelector('table');

    // Asegurarse de que la tabla contiene datos
    if (!table) {
        alert('No hay datos para exportar.');
        return;
    }

    // Crear un array para almacenar los datos de la tabla
    var data = [];

    // Recorrer todas las filas de la tabla
    var rows = table.querySelectorAll('tr');
    rows.forEach(row => {
        var rowData = [];
        // Recorrer todas las celdas de la fila
        var cells = row.querySelectorAll('th, td');
        cells.forEach(cell => {
            rowData.push(cell.innerText.trim()); // Obtener el texto de la celda y eliminar espacios en blanco
        });
        data.push(rowData);
    });

    // Convertir el array de datos a una hoja de Excel
    var ws = XLSX.utils.aoa_to_sheet(data);

    // Agregar la hoja de Excel al libro
    XLSX.utils.book_append_sheet(wb, ws, "Cotización");

    // Guardar el archivo Excel
    XLSX.writeFile(wb, 'cotizacion.xlsx');
}


    function exportToPNG() {
        html2canvas(document.body).then(function(canvas) {
            let link = document.createElement('a');
            link.href = canvas.toDataURL();
            link.download = 'cotizacion.png';
            link.click();
        });
    }
</script>
</body>
</html>
